/* css reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins' ,'roboto', sans-serif;
    /* background-color: #f5f5f5; */
}
.hero-container {
    background-image: url(../images/hero-1.png);
    background-size: cover;
    background-position: center;
    height: 700px;
    position: relative;
    /* padding: 20px; */
    color: antiquewhite;
    padding: 30px 100px;
}
/* header & navigation styles */
header{
    display:flex ;
    justify-content: space-between;
    align-items: center;
}
.logo>a{
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}
.nav> .nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav {
    display: flex;
    gap: 40px;
    align-items: center;
}
.nav > .nav-links >li > a {
color: #fff;
text-decoration: none;
font-size: 16px;
font-weight: 500;
}

.nav-btn{
    background-color: #fff;
    color: #3E86F5;
    border: none;
    padding: 10px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

/* hero section styles  */
.hero-content{
    text-align: center;
    max-width: 850px;
    margin: 120px auto 0;
}
.hero-content h1{
    font-size: 64px;
}

.hero-content p {
    font-size: 24px;
    line-height: 200%;
    margin-top: 40px;
}

/* booking section styles */
.booking-continet{
    /* border: 1px solid blue;
    /* max-width: 1100px; */
    /* position: absolute; */
    /* width: 100%; */
}