/* reset css */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box; 
}

body{
    background-color: skyblue;
    /* background-color: rgba(135, 207, 235, 0.533); */
}
h1{
    text-align: center;
}

    label {
    font-weight: bold;
    color: rgb(138, 47, 47);
}
button{
    background-color: orange;
    /* border: none; */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom:10px ;
    border-radius: 10px;
    cursor: pointer;
}
#btn-1{
    background-color: orange;
}
#btn-2{
    background-color: rgb(55, 10, 10);
}
#btn-3{
    background-color: darkcyan;
}
#btn-send{
     display: block;
     width: 100%;
     border-radius: 40px;
     border: none;
     margin: 20px;
     padding: 20px;
     box-shadow: 3px 4px 10px;
     cursor: pointer;
     font-weight: bold;
}

table{
    width: 300px;
}
/* styling hero section */
.hero-section{
    border: 1px solid red;
    background-image: url(../images/car.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: ; */
    padding: 120px 60px;
}
.hero-section{
    font-size: 72px;
    width: 600px;
    border: 1px solid red;
    margin: 120px 60px;
}
.hero-section{
font-size: 29px;
width: 500px;
}
.hero-section{
    margin: 20px;
padding: 15px 40px;
border: none;
background-color: orange;
border-radius: 8px;
box-shadow: 3px 6px 8px rgb(131, 122, 122);
cursor: pointer;
}